@{
    ViewBag.Title = "Index";
    ViewBag.CurrentUrl = "~/Home/Index";
}

<h1>Access Success (if you see these letters that means your login/signup function is successful)</h1>

<a asp-controller="Account" asp-action="Login">Logout</a>